<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Acessórios e Brinquedos</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Acessórios e Brinquedos</h2>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">

                <p>CATEGORIA</p>
                <input type="checkbox" id="brinquedos"> &nbsp; <label id="brinquedos">Brinquedos</label>
                <br>
                <input type="checkbox" id="roupas"> &nbsp; <label id="roupas">Roupas</label>
                <br>
                <input type="checkbox" id="aderecos"> &nbsp; <label id="aderecos">Adereços</label>
                <br>
                <input type="checkbox" id="coleiras"> &nbsp; <label id="coleiras">Coleiras/Guias</label>
                <br>
                <input type="checkbox" id="camas"> &nbsp; <label id="camas">Camas</label>
                <br>
                <input type="checkbox" id="tapetes"> &nbsp; <label id="tapetes">Tapetes</label>
                <br>



                <div id="divisoriafiltro"></div>

                <%- include('./partials/filtroBusca') %>

            </div>

            <div id="itensresultadobusca">

                <% if (typeof(produtos) != 'undefined'){%>
                    <% produtos.forEach(produto => {%>
                        <% let fotos = produto.fotos.map(foto => foto.fotourl) %>
                        <div id="prodresbusca">
                            <a href="/produto/<%= produto.id %>">
                                <img src="/img/<%= fotos[0] %>">
                                <label><%= produto.nome %></label>
                                <br>
                                <label>R$ <%= produto.preco %></label>
                            </a>
                        </div>
                    <% }) %>
                <% } %>

                <% if (produtos == ""){%> 
                    <p>Não há produtos nesta categoria</p> 
                <% } %>


               <!-- <button id="btnvermais">VER MAIS</button>-->


            </div>

            

        </div>



    </main>

</body>

<%- include('./partials/footer') %>

</html>