<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Ajuda</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main>

        <div id="bannercadastro">
            <h2>Ajuda - Compras</h2>
        </div>
        
        <div id="contajudacompra">



            <h2>Aqui, você pode realizar tratativas para solucionar problemas com suas compras</h2>


            <div id="painelajudacompra">

                <div id="painelajudacompra1">
                    <h3>1. Informações iniciais</h3>

                    <!-- <p>O que deseja fazer?</p>

                    <select name="opdevcanc" id="opdevcanc">
                        <option value="devolucao">Devolver a minha compra</option>
                        <option value="cancelar">Cancelar a minha compra</option>
                        <option value="naorecebi">Ainda não recebi a minha compra</option>
                    </select> -->
                <form action="/cliente/ajuda2" method="POST">
                    <p>Qual é o motivo da sua solicitação?</p>

                    <select name="motivo" id="motivodevcanc">
                        <option value="Me arrependi da compra">Me arrependi da compra</option>
                        <option value="Um ou mais produtos diferentes do que foi comprado">Um ou mais produtos diferentes do que foi comprado</option>
                        <option value="Desejo reembolso, não recebi a minha compra">Desejo reembolso, não recebi a minha compra</option>
                        <option value="Um ou mais produtos avariados/defeituosos">Um ou mais produtos avariados/defeituosos</option>
                        <option value="Compra feita por engano, desejo cancelar">Compra feita por engano, desejo cancelar</option>
                    </select>

                </div>

                <div id="painelajudacompra2">

                    <h3>2. Informações da Compra</h3>

                    <p>Por favor, selecione a compra em questão </p>

                    <select name="compracontestada" id="compracontestada">

                        <% compras.forEach(compra => { %>
                            <option value="<%=compra.id%>">ID: <%=compra.id%> - <%=compra.data%> - R$ <%=compra.valor%> - <%=compra.forma_pgto%></option>
                        <%}) %>

                    </select>

                </div>

            </div>

            <button>Enviar</button>

            </form>

         </div>  





        
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>