<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Requerimento enviado</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main>

        <div id="bannercadastro">
            <h2>Ajuda - Compras</h2>
        </div>
        
        <div id="contajudacompra2">

            <div id="msgcompraconcl">
                <h2>REQUERIMENTO ENVIADO COM SUCESSO!</h2>
                <!-- <p>Um e-mail de confirmação será enviado. Você também pode acompanhar o andamento pelo site.</p> -->

                <svg width="326" height="328" viewBox="0 0 326 328" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M163 13.6667C80.4813 13.6667 13.5834 80.975 13.5834 164C13.5834 247.025 80.4813 314.333 163 314.333C245.519 314.333 312.417 247.025 312.417 164C312.417 80.975 245.519 13.6667 163 13.6667ZM227.765 138.58C228.958 137.208 229.866 135.611 230.436 133.881C231.005 132.151 231.226 130.324 231.083 128.507C230.941 126.691 230.439 124.921 229.607 123.302C228.775 121.684 227.629 120.249 226.238 119.082C224.846 117.916 223.237 117.041 221.505 116.509C219.772 115.978 217.952 115.8 216.15 115.987C214.348 116.173 212.602 116.721 211.014 117.597C209.425 118.473 208.027 119.659 206.901 121.087L148.493 191.593L118.27 161.171C115.708 158.682 112.277 157.304 108.716 157.335C105.154 157.366 101.747 158.804 99.2287 161.337C96.7103 163.871 95.2817 167.299 95.2508 170.883C95.2198 174.466 96.589 177.918 99.0633 180.496L139.813 221.496C141.148 222.838 142.746 223.885 144.505 224.572C146.264 225.258 148.147 225.568 150.032 225.482C151.917 225.395 153.763 224.915 155.453 224.071C157.144 223.227 158.64 222.038 159.849 220.58L227.765 138.58Z" fill="#007F7E"/>
                </svg>

            </div>

            <div id="inforequerimento">

                <h3>Protocolo #<%=requerimento.id%></h2>
                <p>Compra: ID: <%=compra.id%> - <%=compra.data.toLocaleString('pt-br')%> - R$ <%=compra.valor.toFixed(2).replace('.', ',')%> - <%=compra.forma_pgto%></p>                    
                <p>Motivo: <%=requerimento.motivo%></p>
            
            </div>




            </div>

            <div id="btnsajudacompra2">
                <a href="/cliente/requerimento/<%=requerimento.id%>"><button>Ver detalhes</button></a>
                <a href="/cliente/requerimentos"><button>Ver todos os requerimentos</button></a>
                <a href="/"><button>Página inicial</button></a>
            </div>


        </div>  





        
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>