<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Área do Cliente</title>
</head>

<body>

    <%- include('./partials/header') %>

    <script defer src="/js/painelAdmin.js"></script>
    
    <main> 

        <div id="bannercadastro">
            <h2>Painel Administrativo</h2>
        </div>



        <% if (typeof admin !== 'undefined'){ %>
            <div id="containerpaineluser">

                <div id="painelconfiguser">
                    <br>
                    <label href="/"> <strong><%= admin.nome %> <%= admin.sobrenome %></strong></label>
                    <br><br>
                    <!-- <a href="/">Alterar dados pessoais</a> -->
                    
                    <br>
                    <a href="/admin/sair">Sair</a>
                    <br>
                    <a href="/">Página inicial</a>
                    <br>
                    <!-- <a href="/admin/delete">Excluir conta</a> -->

                    <div id="painelopuser">
                        <form action="/admin/<%= admin.id %>/delete?_method=DELETE" method="POST" id="formdeletacliente">
                            <button type="submit" style="background-color: red;">Excluir conta</button>
                        </form>
                    </div>

                </div>

                
                <div id="painelopuser">
                    
                    <h4>Clientes</h4>

                    <a href="/admin/clientes" ><button >Exibir Clientes</button></a> 
                    <br>
                    <a href="/admin/compras" ><button >Exibir Compras</button></a> 
                    <br>
                    <a href="/admin/requerimentos" ><button >Exibir Requerimentos</button></a> 

                    <h4>Produtos</h4>

                    <a href="/admin/produtos"><button  >Exibir Produtos</button></a>
                    <br>
                    <a href="/admin/produtos/cadastro"><button>Cadastrar Produto</button></a>

                    <h4>Administradores</h4>
                    
                    <a href="/admin/users"><button>Exibir Administradores</button></a> 
                    <br>
                    <a href="/admin/user/cadastro"><button>Cadastrar Administrador</button></a>


                </div>
            
            </div>
        <% }else{ %>
            <h2>Admin undefined</h2>
        <% } %>

    </main>

</body>

<%- include('./partials/footer') %>

</html>