<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Área do Cliente</title>
</head>

<body>

    <%- include('./partials/header') %>

    <script defer src="/js/painelCliente.js" ></script>
    
    <main> 

        <div id="bannercadastro">
            <h2>Área do Cliente</h2>
        </div>

        <div id="containerpaineluser">

            <% if (typeof usuario !== 'undefined'){ %>

                <div id="painelconfiguser">
                    
                    <img src="/img/<%=usuario.fotourl%>">
                    <br>
                    <label><%= usuario.nome %> <%= usuario.sobrenome %></label>
                    <br><br>
                    <a href="/cliente/<%= usuario.id %>/editar">Alterar dados pessoais</a>
                    <!-- <a href="/cliente/<%= usuario.id %>/formapgto">Alterar formas de pagamento</a> -->
                    <a id="deletaCliente" href="/cliente/<%= usuario.id %>/deleteeee">Excluir conta</a>
                    <br><br>
                    <a href="/cliente/sair">Sair</a>

                </div>

                <div id="painelopuser">
                    <a href="/cliente/compras"><button>Minhas compras</button></a>
                    <br>
                    <a href="/cliente/carrinho"><button>Carrinho</button></a>
                    <br>
                    <a href="/cliente/requerimentos"><button>Requerimentos</button></a>
                    <br>
                    <a href="/cliente/historico"><button>Histórico de navegação</button></a>
                    <br>
                    <a href="/cliente/home"><button>Voltar à página inicial</button></a>

                </div>
            
            <% } %>     
        
        </div>




    </main>

</body>

<%- include('./partials/footer') %>

</html>