<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Cadastro de usuário</title>
</head>

<body>

    <%- include('./partials/header') %>

    <script defer src="/js/cadastroCliente.js"></script>
    
    <main>

        <div id="bannercadastro">
            <h2>Cadastro AllPet - Usuário</h2>
        </div>

        <img src="/img/cadastro.png" id="capacadastro">

        <form action="/cadastro"  enctype="multipart/form-data" method="POST" id="formuser">

            <% if (typeof erro !== 'undefined'){ %>
                <p style="color: red; text-align: center;"><%= erro %></p>
            <% } %>

           <% if (typeof erros !== 'undefined'){ %>
                <p style="color: red; text-align: center;"><%= erros+'\n' %></p>
            <% } %>

            <% if (typeof cadastroOK !== 'undefined'){ %>
                <p style="color: green; text-align: center;"><%= cadastroOK %></p>
            <% } %>

            <fieldset>
                <legend>Complete as informações a seguir:</legend>

                <h3>Dados pessoais</h3>


                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome"> <br><br>

                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" id="sobrenome"> <br><br>


                <label for="cpf">CPF (apenas números)</label> 
                <input type="text" name="cpf" id="cpf"> <br><br>

                <label for="telefone">Telefone</label> 
                <input type="text" name="telefone" id="telefone"> <br><br>

                <label for="fotoperfil">Foto de perfil (opcional)</label>
                <input type="file" name="fotoperfil" id="fotoperfil"> <br><br>


                <!-- <div id="formendereco"> -->

                <h3>Endereço</h3>

               

                    <label for="cep">CEP</label> 
                    <input type="text" name="cep" id="cep"> <br><br>
                    
                    <label for="rua">Rua</label> 
                    <input type="text" name="rua" id="rua"> <br><br>

                    <label for="numero">Número</label> 
                    <input type="number" name="numero" id="numero"> <br><br>

                    <label for="bairro">Bairro</label> 
                    <input type="text" name="bairro" id="bairro"> <br><br>

                    <label for="cidade">Cidade</label> 
                    <input type="text" name="cidade" id="cidade"> <br><br>

                    <label for="estado">Estado</label> 
                    <select name="estado" id="estado">
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select> <br><br>

                    <label for="complemento">Complemento</label> 
                    <input type="text" name="complemento" id="complemento"> 

                    <p><i>Após o cadastro, você pode adicionar mais endereços na opção "Endereços"</i></p>

                    <br><br>

                    <h3>Dados de login</h3>

                    <label for="email">E-mail</label> 
                    <input type="email" name="email" id="email" class="email"> <br><br>

                    <label for="senha">Senha</label> 
                    <input type="password" name="senha" id="senha" class="senha"> <br><br>

                    <label for="confirmaSenha">Confirmar senha</label> 
                    <input type="password" name="confirmaSenha" id="confirmaSenha" class="confirmaSenha"> <br><br>

                
 

                <button type="submit" id="btncaduser">Enviar</button>

            </fieldset>



        </form>

    </main>

</body>

<%- include('./partials/footer') %>

</html>