<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Carrinho</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main>
        <div id="bannercarrinho">
            <h2>AllPet - Carrinho</h2>
        </div>

        <% if (typeof(itenscarrinho) !== 'undefined' && itenscarrinho.length > 0){%>

            <div id="fase1crr">
                <h2>1. Resumo: <%=itenscarrinho.length%> itens</h2>
                <div id="prodscrr">

                <% let vtotal = 0 %>
                <% itenscarrinho.forEach(item => { %>
                    
                    <div id="prcrr1">
                        <img src="/img/racao.png">
                        <div id="infoprcrr1">

                            <div id="nomeqtdcrr">
                            <label><%=item.produto.nome%></label>
                            <label> <button id="qtdbtn">-</button> &nbsp; <%= item.quantidade %> &nbsp; <button id="qtdbtn">+</button> </p>
                            <!-- <input type="number" name="qtditem" id="" value="<%= item.quantidade %>"> -->
                            </div>

                            <div id="vuncrr">
                                <label>Valor unitário</label>
                                <label><%=item.produto.preco%></label>
                            </div>

                            <div id="vtcrr">
                                <label>Total</label>
                                <label>R$ <%=item.produto.preco * item.quantidade%></label>
                            </div>

                            
                        </div>

                        <form action="/cliente/carrinho/delete?_method=DELETE" method="POST" >
                            <input style="display: none;" type="number" name="itemdelete" value="<%=item.produto.id%>">

                            <button type="submit" id="removeitem"> REMOVER </button>
                        </form>
                        
                    </div>

                    <% vtotal += item.produto.preco * item.quantidade %>

                <% }) %>


                </div>

                <h2>Valor total da compra: R$ <%= vtotal %></h2>

            </div>

            <div id="fase2crr">
                <h2>2. Forma de pagamento e entrega</h2>
                
                <div id="fase2info">
                    <div id="divfpgto">
                        <label>Forma de pagamento: &nbsp; </label>
                        <select id="menufpgto">
                            <option value="cartaocrd" name="fpgto" >Cartão de Crédito</option>
                            <option value="cartaodbt" name="fpgto" >Cartão de Débito</option>
                            <option value="boleto" name="fpgto" >Boleto</option>
                            <option value="pix" name="fpgto" >Pix</option>
                        </select>
                    </div>

                    <div id="diventrega">
                        <label>Endereço de entrega: &nbsp; </label>
                        <select id="enderecos">
                            <option value="end1">Rua Mangueira, 2512, Bairro Uirapuru, Itu - SP</option>
                            <option value="end2">Av. Ulysses Guimarães, 301, Centro, Serra Talhada - PE</option>
                            <option value="end3">Rodovia MT-130 KM 59, S/N, Zona Rural, Poxoréu - MT</option>
                        </select> &nbsp;
                        
                        <button>NOVO ENDEREÇO</button>
                        <br><br>
                        <label for="retirada">Não precisa entregar, vou retirar na loja</label>
                        <input type="checkbox" name="retirada">
                    </div>
                </div>

            </div>

            <button id="finalizacompra" type="submit">FINALIZAR COMPRA</button>

        <% }else{%>
            <h2>Adicione algum item no carrinho</h2>
        <% } %>



    </main>

</body>

<%- include('./partials/footer') %>

</html>