<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Carrinho</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <script defer src="/js/carrinho.js" ></script>
    
    <main>
        <div id="bannercarrinho">
            <h2>AllPet - Carrinho</h2>
        </div>

        <% if (typeof(itenscarrinho) !== 'undefined' && itenscarrinho.length > 0){%>

            <div id="fase1crr">
                <h2>1. Resumo: <%=itenscarrinho.length%> itens</h2>
                <div id="prodscrr">

                <% let vtotal = 0 %>
                <% itenscarrinho.forEach(item => { %>
                    
                    <div id="prcrr1">
                        <img src="/img/racao.png">
                        <div id="infoprcrr1">

                            <div id="nomeqtdcrr">
                            <label><%=item.produto.nome%></label>
                            <br>
                            <!-- <label> <button id="qtdbtn">-</button> &nbsp; <%= item.quantidade %> &nbsp; <button id="qtdbtn">+</button> </p> -->
                                <label>Quantidade:</label> <br>
                            <form action="/cliente/carrinho/alteraqtditem?_method=PUT" method="POST">

                                <input style="display: none;" type="number" name="produtoaltera" value="<%=item.produto.id%>">
                                
                                <input min="1" max="<%=item.produto.quantidade%>" type="number" name="qtditem" id="" value="<%= item.quantidade %>">
                            
                                <button  style="font-weight: bold; color: #ffc550; border: none; background: none;" type="submit"> <br> Se precisar, altere a quantidade e clique aqui para salvar <br> Min: 1 - Max: <%= item.produto.quantidade %></button>
                            </form>



                            </div>

                            <div id="vuncrr">
                                <label>Valor unitário</label>
                                <label>R$ <%=item.produto.preco.toFixed(2).replace(".", ",")%></label>
                            </div>

                            <div id="vtcrr">
                                <label>Total</label>
                                <label>R$ <%=(item.produto.preco * item.quantidade).toFixed(2).replace(".", ",")%></label>
                            </div>

                            
                        </div>

                        <form action="/cliente/carrinho/delete?_method=DELETE" method="POST" >
                            <input style="display: none;" type="number" name="itemdelete" value="<%=item.produto.id%>">

                            <button type="submit" id="removeitem"> REMOVER </button>
                        </form>
                        
                    </div>

                    <% vtotal += item.produto.preco * item.quantidade %>

                <% }) %>


                </div>

                <h2>Valor total da compra: R$ <%= vtotal.toFixed(2).replace(".", ",") %></h2>

            </div>

            <div id="fase2crr">
                <h2>2. Forma de pagamento e entrega</h2>
                
                <div id="fase2info">
                    <form action="/cliente/compra" method="POST">

                            <div id="divfpgto">
                                <label>Forma de pagamento: &nbsp; </label>

                                    <select id="menufpgto" name="fpgto">
                                        <option value="cartao">Cartão</option>
                                        <option value="boleto">Boleto</option>
                                        <option value="pix">Pix</option>
                                    </select>
                                </div>

                                <br>

                                <div id="diventrega">
                                    <label>Endereço de entrega: &nbsp; </label>
                                    <select id="enderecos" name="enderecoid">
                                        <!-- <option value="end1">Rua Mangueira, 2512, Bairro Uirapuru, Itu - SP</option>
                                        <option value="end2">Av. Ulysses Guimarães, 301, Centro, Serra Talhada - PE</option>
                                        <option value="end3">Rodovia MT-130 KM 59, S/N, Zona Rural, Poxoréu - MT</option> -->

                                        <% enderecos.forEach(endereco => { %>
                                            <option  value="<%=endereco.id%>"> ID: <%=endereco.id%> Rua <%= endereco.rua %>, nº <%= endereco.numero %>, Bairro <%= endereco.bairro %>, <%= endereco.cidade %> - <%= endereco.estado %></option>
                                            <!-- <option value=""><%=endereco.id%></option> -->
                                            <% }) %>
                                    </select> &nbsp;
                                    
                                    <!-- <button>NOVO ENDEREÇO</button> -->



                                    <br><br>
                                    <label for="retirada">Não precisa entregar, vou retirar na loja</label>
                                    <input type="checkbox" name="semfrete" id="semfrete">
                                </div>
                            </div>

                        </div>

                        <button id="finalizacompra" type="submit">FINALIZAR COMPRA</button>
                    </form>

        <% }else{%>
            <h2 style="text-align: center;">Carrinho vazio</h2>
        <% } %>



    </main>

</body>

<%- include('./partials/footer') %>

</html>