<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Compra <%=compra.id%></title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main id="maindetalhecompra"> 

        <div id="bannercadastro">
            <h2>Detalhes da Compra #<%=compra.id%></h2>
        </div>

        <div id="infodetalhecompra">
            <h2>Data/hora: <%=compra.data.toLocaleString('pt-br')%> | Valor: R$ <%=compra.valor%> | <%=compra.forma_pgto%></h2>

            <div id="separador"></div>

            <h3>Itens da compra</h3>

                <div id="contdetalhecompra">

                    <% compra.produtos.forEach(item => { %>

                        <div id="itemdetalhecompra">
                            <img src="/img/racao.png"> 
                            <br>
                            <label><%=item.nome%></label>
                            <br>
                            <label>R$ <%=item.preco%></label>
                            <br>
                            <label>Qtd: <%=item.ItemCompra.quantidade%></label>    
                        </div>

                    <% }) %>

                </div>

        </div>

        <div id="separador"></div>

        <h2>Status da compra</h2>

        <% if (compra.endereco !== null){%>
            <h3>Endereço de entrega: Rua <%=compra.endereco.rua%>, <%=compra.endereco.numero%>, <%=compra.endereco.bairro%>, <%=compra.endereco.cidade%> - <%=compra.endereco.estado%></h3>
        <% }else{ %>
            <h3>Compra sem frete, retirada na loja</h3>
        <% } %>

        <div id="statuscompra">
            <% let i = 1 %>
            <% compra.statuscompra.forEach(item => { %>

                <div id="statuschk">
                    <div id="dotcompra"><%=i%></div>
                    <p><%=item.data.toLocaleString('pt-br')%></p>
                    <p><%=item.status%></p>
                </div>
                <%i++%>

            <% }) %>

        </div>

        <div id="btnsdetalhecompra">
           <a href="/cliente/compras"><button>VER TODAS AS MINHAS COMPRAS</button></a>
            <a href="/cliente/ajuda"><button>AJUDA</button></a>
        </div>
      

    </main>

</body>

<%- include('./partials/footer') %>

</html>