<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Requerimento <%=requerimento.id%></title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main id="maindetalhecompra"> 

        <div id="bannercadastro">
            <h2>Detalhes do Requerimento #<%=requerimento.id%></h2>
        </div>

        <div id="infodetalhecompra">
            <h2>Data/hora: <%=requerimento.datahora.toLocaleString('pt-br')%> | Motivo: <%=requerimento.motivo%></h2>

            <div id="separador"></div>

            <h3>Informações da compra</h3>

                <div id="contreqcompra">

                    <div id="inforeqcompra">
                        <h3>Compra ID #<%=requerimento.compra.id%></h3>
                        <p>Data/hora da compra: <%=requerimento.compra.data.toLocaleString('pt-br')%></p>
                        <p><%=requerimento.compra.forma_pgto%> - R$ <%=requerimento.compra.valor%></p>

                        <a href="/cliente/compra/<%=requerimento.compra.id%>"><button>Ver detalhes da compra</button></a> 
                    </div>
                    


                </div>

        </div>

        <div id="separador"></div>

        <h2>Status do Requerimento</h2>

        <div id="statuscompra">
            <% let i = 1%>
            <% requerimento.status.forEach(status => { %>

                <div id="statuschk">
                    <div id="dotcompra"><%=i%></div>
                    <p><%=status.datahora%></p>
                    <p><%=status.status%></p>
                </div>
                <%i++%>
            <% }) %>


        </div>

        <div id="btnsdetalhereq">
            <a href="/cliente/requerimentos"><button>VER TODOS OS MEUS REQUERIMENTOS</button></a>
            <a href="/cliente/painel"><button>ÁREA DO CLIENTE</button></a> 
            <a href="/"><button>PÁGINA INICIAL</button></a> 
        </div>
      

    </main>

</body>

<%- include('./partials/footer') %>

</html>