<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - <%= produto.nome %> </title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main id="maindetalhecompra"> 

        <div id="bannercadastro">
            <h2>Detalhes do produto: <%= produto.nome %></h2>
        </div>

        <div style="width: inherit; margin: 0px auto; margin-top: 20px;">
            <% produto.fotos.forEach(foto => {%>
                <img style="max-height: 200px;" src="/img/<%= foto.fotourl %>">    
            <% }) %>
        </div>
        

        <div id="infodetalhecompra">
            <h2>Preço: R$ <%= produto.preco.toFixed(2).replace('.', ',') %> -  Categoria: <%= categoria.nome %></h2>

            <div id="separador"></div>

            <% if (qtdcompras > 0){%>
                <h3>Vendas: <%= qtdcompras %> - Valor total vendido: R$ <%= (qtdcompras*produto.preco).toFixed(2).replace('.', ',') %></h3>
            <% }else{ %>
                <h3>Este produto nunca foi vendido</h3>
            <% } %>

            <h2>Avaliações do produto</h2>

            <% if (avaliacoes.length > 0){%>
                <h4 style="text-align: center;">Nota média: <%= notamedia.toFixed(1) %></h4>
            <% } %>>

                <div id="contdetalhecompra" style="display: flex; flex-direction: column; width: 50%;">

                <% if (avaliacoes.length > 0){%>

                    <% avaliacoes.forEach(avaliacao => {%>

                        <div id="itemdetalhecompra" style="margin: 5px auto; width: 90%;"> <!-- id="itemdetalhecompra"-->
                            <h3>"<%= avaliacao.descricao %>"</h3>
                            <label><i>Cliente: <%= avaliacao.cliente.nome%> <%= avaliacao.cliente.sobrenome%></i></label><br>
                            <label><i>Nota: <%= avaliacao.nota%></i></label><br>
                            <label><i>Data: <%=avaliacao.datahora.toLocaleString('pt-br')%></i></label>
    
                        </div>

                    <%})%>
                
                <% }else{%>
                    <h3 style="color: white;">Este produto não recebeu nenhuma avaliação</h3>
                <% } %>

                </div>

        </div>


        <div id="btnsdetalhecompra">
            <a href="/admin/produtos"><button>VER TODOS OS PRODUTOS</button></a>
            <a href="/admin"><button>PAINEL ADMINISTRATIVO</button></a>
        </div>
      

    </main>

</body>

<%- include('./partials/footer') %>

</html>