<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Estética</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Estética</h2>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">

                <p>CATEGORIA</p>
                <input type="checkbox" id="shampoo"> &nbsp; <label id="shampoo">Shampoos</label>
                <br>
                <input type="checkbox" id="sabonetes"> &nbsp; <label id="sabonetes">Sabonetes</label>
                <br>
                <input type="checkbox" id="alicate_tesoura"> &nbsp; <label id="alicate_tesoura">Alicates e Tesouras</label>
                <br>
                <input type="checkbox" id="perfumes"> &nbsp; <label id="perfumes">Perfumes</label>
                <br>
                <input type="checkbox" id="cosmeticos"> &nbsp; <label id="cosmeticos">Cosméticos</label>
                <br>



                <div id="divisoriafiltro"></div>

                <%- include('./partials/filtroBusca') %>

            </div>

            <div id="itensresultadobusca">

                <% if (typeof(produtos) != 'undefined'){%>
                    <% produtos.forEach(produto => {%>
                        <% let fotos = produto.fotos.map(foto => foto.fotourl) %>
                        <div id="prodresbusca">
                                <a href="/produto/<%= produto.id %>">
                                <img src="/img/<%= fotos[0] %>">
                                <label><%= produto.nome %></label>
                                <br>
                                <label>R$ <%= produto.preco %></label>
                            </a>
                        </div>
                    <% }) %>
                <% } %>

                <% if (produtos == ""){%> 
                    <p>Não há produtos nesta categoria</p> 
                <% } %>

                <!--<button id="btnvermais">VER MAIS</button>-->


            </div>

            

        </div>



    </main>

</body>

<%- include('./partials/footer') %>

</html>