<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Histórico</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Histórico de navegação</h2>
        </div>

        <div id="painelminhascompras">

            <% let fotoprod %>
            <% produtos.forEach(produto => { %>
                            <div>
                                <a href="/cliente/produto/<%= produto.id%>">
                                    
                                    <div id="contcompra">

                                        <% let fotos = produto.fotos.map(foto => foto.fotourl) %>

                                        <img src="/img/<%= fotos[0] %>" alt="foto produto">

                                        <div id="infocompra">
                                            
                                            <!-- <label>ID: <%= produto.id %></label> -->
                                            <br>
                                            <label>Nome: <%= produto.nome %></label>
                                            <br>
                                            <label>Preço R$:  <%= produto.preco %></label>
                                            <br>
                                            <label>Descrição:  <%= produto.descricao %></label>
                                            <br>
                                            <label>Quantidade disponível:  <%= produto.quantidade %></label>

                                        </div>
                                   

                                    </div>
                                </a>
                            </div>
            <% }) %>

        </div>

        <div id="btnsminhascompras">
            <a href="/cliente/painel"><button>Painel do Cliente</button></a>
            <a href="/cliente/home"><button>Página inicial</button></a>
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>