<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Clientes</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Lista de Clientes</h2>
        </div>

        <div id="painelminhascompras">

            <% clientes.forEach(cliente => { %>

                        <div>
                            <div id="contcompra">

                                <!--<img src="<%= cliente.fotourl %>" alt="foto de perfil">-->

                                <img src="/img/<%= cliente.fotourl %>" alt="foto de perfil">

                                <div id="infocompra">
                                    
                                    <label>ID: <%= cliente.id %></label>
                                    <br>
                                    <label>Nome: <%= cliente.nome %> <%= cliente.sobrenome %></label>
                                    <br>
                                    <label>E-mail:  <%= cliente.email %></label>

                                   

                                </div>
                                <button>Ver detalhes</button>
                            </div>
                        </div>
            <% }) %>

        </div>

        <div id="btnsminhascompras">
            <a href="/admin"><button>Voltar</button></a>
            <!-- <button>Página inicial</button> -->
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>