<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Requerimentos</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Lista de Requerimentos</h2>
        </div>

        <div id="painelminhascompras">

            <h3>Requerimentos em aberto</h3>

            <% reqsabertos.forEach(req => { %>

                        <div>
                            <div id="contcompra">


                                <div id="infocompra">
                                    
                                    <label>Nº Protocolo: <%=req.id%></label>
                                    <br>
                                    <label>Data de abertura: <%=req.datahora.toLocaleString('pt-br')%></label>
                                    <br>
                                    <label>Motivo: <%=req.motivo%></label>
                                    <br><br>
                                    <label> Compra ID: <%=req.compra.id%></label>
                                    <br>
                                    <label> Cliente: <%=req.compra.cliente.nome%> <%=req.compra.cliente.sobrenome%></label>
                                    <br>
                                    <label>Data da compra: <%=req.compra.data.toLocaleString('pt-br')%></label>
                                    <br>
                                    <label><%=req.compra.forma_pgto%> - R$ <%=req.compra.valor.toFixed(2).replace('.', ',')%></label>
                                    <br><br>
                                    
                                   

                                </div>
                                 <a href="/admin/requerimento/<%=req.id%>"><button>Ver detalhes</button></a> 
                            </div>
                        </div>
            <% }) %>

        </div>

        <div id="painelminhascompras">

            <h3>Requerimentos finalizados</h3>

            
                <% reqsfechados.forEach(req => { %>
                    <%if (req !== null){%>

                            <div>
                                <div id="contcompra">


                                    <div id="infocompra">
                                        
                                        <label>Nº Protocolo: <%=req.id%></label>
                                        <br>
                                        <label>Data de abertura: <%=req.datahora.toLocaleString('pt-br')%></label>
                                        <br>
                                        <label>Motivo: <%=req.motivo%></label>
                                        <br><br>
                                        <label> Compra ID: <%=req.compra.id%></label>
                                        <br>
                                        <label> Cliente: <%=req.compra.cliente.nome%> <%=req.compra.cliente.sobrenome%></label>
                                        <br>
                                        <label>Data da compra: <%=req.compra.data.toLocaleString('pt-br')%></label>
                                        <br>
                                        <label><%=req.compra.forma_pgto%> - R$ <%=req.compra.valor.toFixed(2).replace('.', ',')%></label>
                                        <br><br>
                                        
                                    

                                    </div>
                                    <a href="/admin/requerimento/<%=req.id%>"><button>Ver detalhes</button></a> 
                                </div>
                            </div>
                        <% } %>

                <% }) %>
            
        </div>

        <div id="btnsminhascompras">
            <a href="/admin"><button>Voltar</button></a>
            <!-- <button>Página inicial</button> -->
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>