<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Endereços</title>
</head>

<body>

    <%- include('./partials/header') %>

    <script defer src="/js/endereco.js"></script>
    
    <main> 

        <div id="bannercadastro">
            <h2>Lista de Endereços</h2>
        </div>

        <div id="painelminhascompras">


            <% enderecos.forEach(endereco => { %>

                        <div>
                            <div id="contcompra">


                                <div id="infocompra">
                                    
                                    <label>CEP: <%=endereco.cep%></label>
                                    <br><br>
                                    <label>Rua: <%=endereco.rua%>, nº <%=endereco.numero%></label>
                                    <br>
                                    <label><%=endereco.cidade%> - <%=endereco.estado%></label>
    
                                </div>
                                 <a href="/cliente/endereco/<%=endereco.id%>/editar"><button>VER/EDITAR</button></a> 
                                 
                                 <% if (enderecos.length > 1){%>
                                    <form action="/cliente/endereco/<%=endereco.id%>/deletar?_method=DELETE" method="POST"><button style="background-color: red;" type="submit" id="deletaendereco">EXCLUIR</button></form>
                                 <% } %>

                                </div>
                        </div>
            <% }) %>

        </div>


        <div id="btnsminhascompras">
            <a href="/cliente/endereco/criar"><button>Adicionar endereço</button></a>
            <a href="/cliente/painel"><button>Voltar</button></a>
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>