<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Meus Requerimentos</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Meus Requerimentos</h2>
        </div>

        <div id="painelminhascompras">

            <% requerimentos.forEach(requerimento => { %>
                    <div id="contcompra">
                        <div id="infocompra">
                            
                            <label>Protocolo: #<%=requerimento.id%></label>
                            <br><br>
                            <label> Compra #<%=requerimento.compra.id%></label>
                            <br>
                            <label><%=requerimento.compra.data.toLocaleString('pt-br')%></label>
                            <br>
                            <label><%=requerimento.compra.forma_pgto%> - R$ <%=requerimento.compra.valor%></label>
                            <br><br>
                            <label><%=requerimento.motivo%></label>
                        </div>
                        <a href="/cliente/requerimento/<%=requerimento.id%>"><button>Ver detalhes</button></a>
                    </div>

            <% }) %>



        </div>

        <div id="btnsminhascompras">
            <a href="/cliente/painel"><button>Área do Cliente</button></a> 
            <a href="/"><button>Página inicial</button></a> 
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>