<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Minhas Compras</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Minhas Compras</h2>
        </div>

        <div id="painelminhascompras">

            <% compras.forEach(compra => {%>
                <div id="contcompra">
                    <div id="infocompra">
                        
                        <label>ID: <%=compra.id%></label>
                        <br>
                        <label>Data/hora: <%=compra.data.toLocaleString('pt-br')%></label>
                        <br>
                        <label><%=compra.forma_pgto%> - R$ <%=compra.valor.toFixed(2).replace('.', ',')%></label>

                    </div>
                    <a href="/cliente/compra/<%=compra.id%>"><button>Ver detalhes</button></a> 
                </div>
            <%}) %>

        </div>

        <div id="btnsminhascompras">
            <a href="/cliente/painel"><button>Área do Cliente</button></a> 
            <a href="/cliente/home"><button>Página inicial</button></a> 
        </div>
       
    </main>

</body>

<%- include('./partials/footer') %>

</html>