<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">



    <% if (produto != null){ %>
        <title>AllPet - <%= produto.nome %></title>
    <% }else{ %>
        <title>AllPet - Produto não encontrado</title>
    <% } %>


</head>

<body>

    <%- include('./partials/header') %>


    
    
    <main id="mainprod">
        <% if (produto != null){%>

            <% let fotos = produto.fotos.map(foto => foto.fotourl) %>

            <div id="containerprod">
                <div id="fotosprod">
                    <img src="/img/<%= fotos[0] %>" id="mainthumb">

                    <div id="maisthumbs">

                        <div id="thumbesq">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM13.207 7.707C13.3892 7.5184 13.49 7.2658 13.4877 7.0036C13.4854 6.7414 13.3802 6.49059 13.1948 6.30518C13.0094 6.11977 12.7586 6.0146 12.4964 6.01233C12.2342 6.01005 11.9816 6.11084 11.793 6.293L7.793 10.293C7.60553 10.4805 7.50021 10.7348 7.50021 11C7.50021 11.2652 7.60553 11.5195 7.793 11.707L11.793 15.707C11.9816 15.8892 12.2342 15.99 12.4964 15.9877C12.7586 15.9854 13.0094 15.8802 13.1948 15.6948C13.3802 15.5094 13.4854 15.2586 13.4877 14.9964C13.49 14.7342 13.3892 14.4816 13.207 14.293L9.914 11L13.207 7.707Z" fill="#7D7676"/>
                            </svg>
                                
                        </div>

                        <div id="tresthumbs">
                            <img src="/img/<%= fotos[1] %>"" id="thumb1">
                            <img src="/img/<%= fotos[2] %>"" id="thumb2">
                            <img src="/img/<%= fotos[3] %>"" id="thumb3">
                        </div>


                        <div id="thumbdir">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM8.793 7.707C8.61084 7.5184 8.51005 7.2658 8.51233 7.0036C8.5146 6.7414 8.61977 6.49059 8.80518 6.30518C8.99059 6.11977 9.2414 6.0146 9.5036 6.01233C9.7658 6.01005 10.0184 6.11084 10.207 6.293L14.207 10.293C14.3945 10.4805 14.4998 10.7348 14.4998 11C14.4998 11.2652 14.3945 11.5195 14.207 11.707L10.207 15.707C10.0184 15.8892 9.7658 15.99 9.5036 15.9877C9.2414 15.9854 8.99059 15.8802 8.80518 15.6948C8.61977 15.5094 8.5146 15.2586 8.51233 14.9964C8.51005 14.7342 8.61084 14.4816 8.793 14.293L12.086 11L8.793 7.707Z" fill="#7D7676"/>
                            </svg>
                                
                        </div>

                    </div>

                    <div id="dotsthumb">
                        <div id="tdot1"></div>
                        <div id="tdot2"></div>
                        <div id="tdot3"></div>
                    </div>

                </div>

                <div id="infoprod">
                    <h2> <%= produto.nome %> </h2>
                    <h1>R$ <%= produto.preco %></h1>

                    <% if (produto.quantidade > 0){%>
                        <p>Quantidade disponível: <%=produto.quantidade%></p>
                        <!-- <label for="qtditem">Quantidade desejada: </label>
                        <input  type="number" name="qtditem" value="1" min="1" max="<%=produto.quantidade%>" style="width: fit-content;"> -->
                    
                        <% }else{%>
                        <p>Produto indisponível</p>
                    <% } %>

                    <% if (!mediageral){ %>
                        <p id="avaliacao">Sem avaliação</p>
                    <% }else{ %>
                        <p id="avaliacao">Avaliação: <%= mediageral.toFixed(1) %> / 10</p>
                    <% } %>
                    <!-- <a href="/produto/"></a> -->

                    <% if (typeof usuario != 'undefined'){ %>

                        <div id="btnsprod">
                            <!-- <form action="/cliente/comprar" method="GET">
                                <button type="submit">Comprar</button>
                            </form> -->
                            <% if (produto.quantidade > 0){%>
                                <form action="/produto/<%=produto.id%>/addcarrinho" method="POST">
                                    <div id="inputqtdcarrinho">
                                        <label for="qtditem">Quantidade desejada: </label> <br>
                                        <input  type="number" name="qtditem" value="1" min="1" max="<%=produto.quantidade%>" style="width: fit-content;">
                                    </div>

                                
                                
                                    <button style="width: 50%;" type="submit">Adicionar ao Carrinho</button>
                                </form>
                            <% } %>
                        </div>


                    <% }else{ %>
                        <% if (typeof admin != 'undefined'){ %>
                            <div id="btnsprod">
                                <a href="/admin/produtos/<%=produto.id%>/editar"><button>Editar</button></a>
                            </div>
                        <% }else{ %>
                            <p>Faça o login como Cliente para comprar ou avaliar este produto</p>
                        <% } %>
                    <% } %>

                    <div id="descprod">
                        <p><%= produto.descricao %></p>
                    </div>

                    <% if (!avaliou && (typeof usuario != 'undefined')){ %>
                        <div>
                            <p><strong>Avalie este produto:</strong></p>

                            <form action="/produto/<%=produto.id%>/avaliar" method="POST">
                                <label for="">Comentário: </label>
                                <br>
                                <textarea style="width: 100%;" name="comentario" id=""></textarea> 
                                <br>
                                <label for="">Nota: </label>
                                <input type="number" name="nota" id="" min="1" max="10" style="width: 10%;">
                                <br><br>

                                <div id="btnsprod"><button type="submit" >Avaliar</button></div>
                            </form>

                        </div>
                    <% }else{ %>
                        <% if (avaliou && (typeof usuario != 'undefined')){ %>
                            <h4>Você já avaliou este produto</h4>
                        <% } %>
                    <% } %>

                </div>
            </div>

            <div id="containerprodcont">

                <div id="opinioesprod">
                    <br>
                    <h3>OPINIÕES DE QUEM COMPROU</h3>
    
                    
    
                    <div id="grpopinioes">






                        <% if (typeof(avaliacoes) != 'undefined'){ %>
                            <% avaliacoes.forEach(avaliacao => { %>
                                <div id="opiniao">
                                    <img src="/img/<%=avaliacao.cliente.fotourl%>">
        
                                    <div id="infoopiniao1">
                                        <label id="lbopuser">Nota <%= avaliacao.nota %> - <%= avaliacao.cliente.nome %> <%= avaliacao.cliente.sobrenome %></label> <br>
                                        <label id="lbopdata"><%= avaliacao.datahora.getDate()%>/<%= avaliacao.datahora.getMonth()+1%>/<%= avaliacao.datahora.getFullYear()%> - 
                                        <%=avaliacao.datahora.getHours()%>:<%=avaliacao.datahora.getMinutes()%>:<%=avaliacao.datahora.getSeconds()%></label>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div id="descopiniao1">
                                        <p>"<%= avaliacao.descricao %>"</p>
                                    </div>
        
                                </div>
                            <% }) %>
                        <% } %>
    
                        <% if (avaliacoes == ""){%> 
                            <p>Este produto ainda não possui nenhuma avaliação</p> 
                        <% } %>
    
                    </div>
        
                </div>
        
                <div id="sugestoesprod">
                    <br>
                    <h3>VOCÊ TAMBÉM PODE GOSTAR</h3>
    
                    <div id="containerpg">
                        <div id="thumbspg">
    
    
    
                            <div id="tresthumbspg">
    
                                <div id="thumbesqpg">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM13.207 7.707C13.3892 7.5184 13.49 7.2658 13.4877 7.0036C13.4854 6.7414 13.3802 6.49059 13.1948 6.30518C13.0094 6.11977 12.7586 6.0146 12.4964 6.01233C12.2342 6.01005 11.9816 6.11084 11.793 6.293L7.793 10.293C7.60553 10.4805 7.50021 10.7348 7.50021 11C7.50021 11.2652 7.60553 11.5195 7.793 11.707L11.793 15.707C11.9816 15.8892 12.2342 15.99 12.4964 15.9877C12.7586 15.9854 13.0094 15.8802 13.1948 15.6948C13.3802 15.5094 13.4854 15.2586 13.4877 14.9964C13.49 14.7342 13.3892 14.4816 13.207 14.293L9.914 11L13.207 7.707Z" fill="#7D7676"/>
                                    </svg>
                                        
                                </div>
    
                                <div id="tpg1">
                                    <img src="/img/ydog.png" id="thumb1">
                                    <label>Brinquedo YDog</label>
                                    <label id="tpg1preco">R$ 15,00</label>
                                </div>
    
                                <div id="tpg1">
                                    <img src="/img/casinha2.png" id="thumb1">
                                    <label>Casinha DH</label>
                                    <label id="tpg2preco">R$ 120,00</label>
                                </div>
    
                                <div id="tpg1">
                                    <img src="/img/racao.png" id="thumb1">
                                    <label>Ração FeeDog</label>
                                    <label id="tpg3preco">R$ 89,90</label>
                                </div>
    
    
    
    
                                <div id="thumbdirpg">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM8.793 7.707C8.61084 7.5184 8.51005 7.2658 8.51233 7.0036C8.5146 6.7414 8.61977 6.49059 8.80518 6.30518C8.99059 6.11977 9.2414 6.0146 9.5036 6.01233C9.7658 6.01005 10.0184 6.11084 10.207 6.293L14.207 10.293C14.3945 10.4805 14.4998 10.7348 14.4998 11C14.4998 11.2652 14.3945 11.5195 14.207 11.707L10.207 15.707C10.0184 15.8892 9.7658 15.99 9.5036 15.9877C9.2414 15.9854 8.99059 15.8802 8.80518 15.6948C8.61977 15.5094 8.5146 15.2586 8.51233 14.9964C8.51005 14.7342 8.61084 14.4816 8.793 14.293L12.086 11L8.793 7.707Z" fill="#7D7676"/>
                                    </svg>
                                        
                                </div>
                            </div>
    
    
    
    
                        </div>
    
                        
    
                    </div>
    
                    <div id="dotsthumbpg">
                        <div id="tdot1pg"></div>
                        <div id="tdot2pg"></div>
                        <div id="tdot3pg"></div>
                    </div>
    
        
                </div>
    
            </div>


        <% }else{%>
            <h2 style="text-align: center;" >Produto não encontrado</h2>
        <% } %>


    </main>

</body>

<%- include('./partials/footer') %>

</html>