<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Resultados da busca</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <% if (strbusca === ""){%>
                <h2>Por favor, insira algum texto no campo de busca</h2>
            <% }else{%>
                <% if (!produtos.length){%>
                    <h2>Não foram encontrados produtos com "<%= strbusca %>"</h2>
                <%}else{%>
                    <h2>Produtos encontrados com "<%= strbusca %>" - (<%= produtos.length %>)</h2>
                <% } %>
            <% } %>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">
                
                <%- include('./partials/filtroBusca') %>

            </div>

            <div id="itensresultadobusca">

                <% if (typeof(produtos) !== 'undefined' && strbusca != ""){ %>

                    <% produtos.forEach(produto => {%>

                        <% let fotos = produto.fotos.map(foto => foto.fotourl) %>

                        <div id="prodresbusca">
                            <a href="/produto/<%= produto.id%>">
                                <img src="/img/<%= fotos[0] %>">
                                <label><%= produto.nome %></label>
                                <br>
                                <label>R$ <%= produto.preco %></label>
                            </a>
                        </div>
                        
                    
                    <% }) %>

                <% } %>

            </div>
            
            <!-- <button id="btnvermais">VER MAIS</button> -->

            

        </div>



    </main>

</body>

<%- include('./partials/footer') %>

</html>