<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">





    <title>AllPet - Saúde</title>
</head>

<body>

    <%- include('./partials/header') %>
    
    <main> 

        <div id="bannercadastro">
            <h2>Saúde</h2>
        </div>

        <div id="containerbusca">
            <div id="filtrobusca">
            
            <form action="/filtrabuscasa?_method=PUT" method="POST">
                <p>CATEGORIA</p>
                <input name="RacoesPetiscos" type="checkbox" id="racoespetiscos"> &nbsp; <label id="racoespetiscos">Rações e Petiscos</label>
                <br>
                <input name="Vermifugos" type="checkbox" id="vermifugos"> &nbsp; <label id="vermifugos">Vermífugos</label>
                <br>
                <input name="Pomadas" type="checkbox" id="pomadas"> &nbsp; <label id="coleiras">Pomadas</label>
                <br>
                <input name="Medicamentos" type="checkbox" id="roupacirurgica"> &nbsp; <label id="roupacirurgica">Medicamentos</label>
                <br>
                <input name="PulgasCarr" type="checkbox" id="antipulgascarr"> &nbsp; <label id="antipulgascarr">Antipulgas e Carrapatos</label>
                <br>



                <div id="divisoriafiltro"></div>

                <p>PREÇO</p>

                <select id="filtrapreco" name="range_preco">
                    <option  value="<=150">Até R$ 50,00</option>
                    <option  value="51_100">De R$ 51,00 a R$ 100,00</option>
                    <option  value="101_200">De R$ 101,00 a R$ 200,00</option>
                    <option  value=">200">Mais de R$ 200,00</option>
                </select>

                <br></BR>

                <button type="submit">FILTRAR</button>
                <br><br>
                

            </form>
            <a href="/saude"><button>LIMPAR FILTRO</button></a>


            </div>

            <div id="itensresultadobusca">
                <% if (typeof(produtos) != 'undefined'){%>
                    <% produtos.forEach(produto => {%>
                        <% let fotos = produto.fotos.map(foto => foto.fotourl) %>
                        <div id="prodresbusca">
                                <a href="/produto/<%= produto.id %>">
                                <img src="/img/<%= fotos[0] %>">
                                <label><%= produto.nome %></label>
                                <br>
                                <label>R$ <%= produto.preco %></label>
                            </a>
                        </div>
                    <% }) %>
                <% } %>

                <% if (produtos == ""){%> 
                    <p>Não há produtos nesta categoria</p> 
                <% } %>


                <!--<button id="btnvermais">VER MAIS</button>-->


            </div>

            

        </div>



    </main>

</body>

<%- include('./partials/footer') %>

</html>